<div class="container mt-4">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p class="h2 fw-bold">Catalogue</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 d-flex justify-content-start">
            <a routerLink="/contacts/add" class="btn btn-success">
                <i class="fa fa-plus-circle"></i> Create
            </a>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <form class="form-inline" (submit)="searchContact($event, search.value)">
                <div class="row">
                    <div class="col">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                            style="width: 300px;" #search>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4" *ngIf="filteredContacts.length > 0">
    <div class="row">
        <div class="col-md-6" *ngFor="let contact of filteredContacts">
            <div class="card shadow-lg my-2">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <img src="https://icons.veryicon.com/png/o/object/material_design/contacts-63.png" alt=""
                                width="200">
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-group">
                                <li class="list-group-item">Name: <span class="fw-bold">{{ contact.name }}</span></li>
                                <li class="list-group-item">Phone: <span class="fw-bold">{{ contact.phone }}</span></li>
                                <li class="list-group-item">Email: <span class="fw-bold">{{ contact.email }}</span></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 d-flex flex-column justify-content-center align-items-center">
                            <a routerLink="/contacts/view/{{ contact.id }}" class="btn btn-warning my-1">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a routerLink="/contacts/edit/{{ contact.id }}" class="btn btn-primary my-1">
                                <i class="fa fa-pen"></i>
                            </a>
                            <button (click)="clickDelete(contact.id)" class="btn btn-danger my-1">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>