<div class="container mt-4">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p class="h2 fw-bold">About</p>
        </div>
    </div>
</div>

<div class="container mt-4" *ngIf="notEmpty()">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-sm-4">
            <img src="https://www.pngkey.com/png/full/61-614384_anime-kawaii-and-girl-image-transparent-anime-girl.png" alt="" width="200">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item">Name: <span class="fw-bold">{{ contact.name }}</span></li>
                <li class="list-group-item">Phone: <span class="fw-bold">{{ contact.phone }}</span></li>
                <li class="list-group-item">Email: <span class="fw-bold">{{ contact.email }}</span></li>
                <li class="list-group-item">Category: <span class="fw-bold">{{ category.type }}</span></li>
            </ul>
        </div>
    </div>
</div>